{% extends "base.html" %}
{% block title %} Friends {% endblock %}
{% block main %}
<h2>Users</h2>
<!-- Tabla -->
<div class="container">
    <div class="table-responsive">
        <!-- Table of users of the app -->
        <table class="table table-hover" id="tableUsers">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="col-md-1"></th>
                    <th>Surname</th>
                    <th class="col-md-1"></th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
            <!-- Start of the users block -->
                {% for f in friends %}
                <tr>
                    <td>{{f.name}}</td>
                    <td></td>
                    <td>{{f.surname}}</td>
                    <td></td>
                    <td>{{f.email}}</td>
                </tr>
                {% endfor %}
            <!-- End of the users block -->
            </tbody>
        </table>
    </div>
    <!-- Pagination -->
    <div class="row text-center">
        <ul class="pagination">
            {% for page in pages %}
            <li class="page-item" id="pi-{{page}}">
                <a class="page-link" href="/friends?pg={{page}}">
                    {{page}}
                </a>
            </li>
            {% endfor %}
            <script>$("#pi-{{current}}").addClass("active")</script>
        </ul>
    </div>
</div>
{% endblock %}
