{% extends "base.html" %} 

{% block title %} Register {% endblock %}

{% block main %}
  <h2 class="col-sm-offset-2 col-sm-10">Register</h2>
  <form class="form-horizontal" method="post" action="/signup" >
    <!-- Name input field -->
    <div class="form-group">
      <label class="control-label col-sm-2" for="iName">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="name" id="iName"
               placeholder="John" value="{{ inputs.name ?? ''}}" required/>
      </div>
    </div>
    <!-- Surname input field -->
    <div class="form-group">
      <label class="control-label col-sm-2" for="iSurname">Surname:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="surname" id="iSurname"
               placeholder="Smith" value="{{ inputs.surname ?? ''}}" required />
      </div>
    </div>
    <!-- Email input field -->
    <div class="form-group">
      <label class="control-label col-sm-2" for="iEmail">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="email" id="iEmail"
            placeholder="email@email.com" value="{{ inputs.email ?? ''}}" required />
      </div>
    </div>
    <!-- Password input field -->
    <div class="form-group">
      <label class="control-label col-sm-2" for="iPassword">Password:</label>
      <div class="col-sm-10">          
        <input type="password"  class="form-control" name="password"  id="iPassword"
        	placeholder="password" required />
      </div>
    </div>
    <!-- Repeat Password input field -->
    <div class="form-group">
      <label class="control-label col-sm-2" for="iRPassword">Repeat your password:</label>
      <div class="col-sm-10">
        <input type="password"  class="form-control" name="password_repeated"  id="iRPassword"
               placeholder="password" required />
      </div>
    </div>
    <!-- Submit button -->
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-pencil"></span>
          Sign up
        </button>
      </div>
    </div>
  </form>
{% endblock %}