{% extends "..\base.html" %}
{% block title %} Users {% endblock %}
{% block main %}
<h2>Users</h2>
<!-- Search -->
<div class="row">
    <div id="custom-search-input ">
        <form method="get" action="/users">
            <div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                <input type="text" class="search-query form-control" value="{{search}}"
                       placeholder="Search" name="search"/>
                <span class="input-group-btn">
                    <button class="btn" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<!-- Tabla -->
<div class="container">
    <div class="table-responsive">
        <!-- Table of users of the app -->
        <table class="table table-hover" id="tableUsers">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th class="col-md-1"></th>
                    <!-- Friendship column -->
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
            <!-- Start of the users block -->
                {% for u in userList %}
                <tr>
                    <td>{{u.name}}</td>
                    <td>{{u.surname}}</td>
                    <td>{{u.email}}</td>
                    <td></td>
                    <td>
                        <!-- Add Friend button -->
                        {% if u.sent %}
                        <a type="button" class="btn btn-success" disabled>
                            <span class="glyphicon glyphicon-ok"></span> Requested
                        </a>
                        {% elseif u.received %}
                        <a type="button" class="btn btn-success" href="/friend/requests">
                            <span class="glyphicon glyphicon-exclamation-sign"></span> Requested
                        </a>
                        {% elseif !u.isFriend %}
                        <a type="button" class="btn btn-primary addButton" href="/friend/add/{{u.email}}">
                            <span class="glyphicon glyphicon-plus"></span> Add Friend
                        </a>
                        {% else %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            <!-- End of the users block -->
            </tbody>
        </table>
    </div>
    <!-- Pagination -->
    <div class="row text-center">
        <ul class="pagination">
            {% for page in pages %}
            <li class="page-item" id="pi-{{page}}">
                {% if search != null %}
                    <a class="page-link" href="/users?pg={{page}}&search={{search}}">
                        {{page}}
                    </a>
                {% else %}
                    <a class="page-link" href="/users?pg={{page}}">
                        {{page}}
                    </a>
                {% endif %}
            </li>
            {% endfor %}
            <script>$("#pi-{{current}}").addClass("active")</script>
        </ul>
    </div>
</div>
{% endblock %}
